/*.footer {*/
/*    position: sticky;*/
/*    margin-bottom: 50px;*/
/*}*/
body {
    xpadding-top :1000px;
}

.footer .p-3 {
    padding: 0rem !important;
}

#cards-layout {

    margin: 0px!important;
}

#scroll-to.up{
    transform : rotateX(180deg) !important;
}

#footer-container {
    padding: 1%!important
}

@media (hover: hover) and (pointer: fine) {
    .hover-button {
        transition: transform .15s ease;
    }
}

@media (hover: hover) and (pointer: fine) {
    .hover-button :hover {
        transform: scale(1.1);
    }
}

@media (hover: hover) and (pointer: fine) {
    .card {
        transition: transform .5s ease;
    }
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: scale(1.1);
    }
}
